<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div>
        是否需要额外付费的设施
        <input type="checkbox" v-model="isCheck" @click="fn()">
        <ul v-show="isCheck">
            <li v-for="obj in proList">
                {{obj.name}} ({{obj.price}})
                <input type="checkbox" :value="obj" v-model="List">
            </li>
        </ul>
        </div>
        <div>
            <p>订单费用信息</p>
            <ul>
                <li v-for="obj in List">
                    {{obj.name }} ({{obj.price}})
                </li>
            </ul>
        </div>
        <div>总金额：{{ total() }}</div>
    </div>
   <script src="vue.js"></script>
   <script>
   var vm = new Vue({
       el:'#app',
       data:{
            proList:[
                {
                    name:'电脑',
                    price:200,
                },
                {
                    name:'wifi',
                    price:100,
                },
                {
                    name:'沙发',
                    price:100,
                },
            ],
            List:[
                {
                    name:'群里花园豪华型',
                    price:400,
                },
            ],
            isCheck:false,
       },
       methods:{
        total(){
            let count = 0;
            this.List.forEach(function(obj,index){
                count += obj.price;
            })
            return count;
        },
        fn(){
            this.List.splice(1);
            // this.List = [this.List[0]];
        }
       }
   })
   </script>
</body>
</html>