<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .a {
            color: #f00;
        }
    </style>
</head>

<body>
    <div id="app">
        <input type="text" v-model="msg" @keyup="filter()">
        <button @click="add()">add</button>
        <ul>
            <li v-for="(obj,index) in showList" :class="{a:obj.isA}" @click="change(obj)">
                {{obj.val}}
                <button @click="del(index)">del</button>
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"> </script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                list: [
                    {
                        val: 'a',
                        isA: false
                    },
                ],
                showList: [
                    {
                        val: "a",
                        isA: false,
                    }
                ],
                msg: "",
                isA: false,
            },
            methods: {
                add() {
                    this.list.push({ val: this.msg, isA: false });
                    this.msg = "";
                    this.showList = [...this.list];
                },
                del(index) {
                    this.list.splice(index, 1);
                },
                change(obj) {
                    obj.isA = !obj.isA;
                },
                filter() {
                    var arr = this.list.filter((obj, index) => {
                        return obj.val.includes(this.msg);
                    })
                    this.showList = arr;


                }
            }
        })
    </script>
</body>

</html>